#filter-column {
  text-align: center;
  margin: 20px 20px 20px 50px;
  padding: 20px 0 0 0;
  height: 785px;
  border: 2px solid var(--secondary-color);
}

#filter-column {
  text-decoration: underline;
}

#results-column {
  text-align: center;
  margin: 20px 10px 20px 35px;
  padding: 20px 0 0 0;
  height: fit-content;
  border: 2px solid var(--secondary-color);
}

#results-column {
  text-decoration: underline;
}

#results {
  overflow-x: hidden;
  overflow-y: scroll;
}
h3 {
  padding: 20px;
}

.secondary-content {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  background-color: rgba(214, 214, 214, 0.2);
  border-radius: 5px;
}

.colorscheme {
  background-color: rgba(243, 219, 219, 0.1);
}

.page-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 25px;
  margin: 10px;
}

.termsuno {
  text-align: center;
  padding: 5px;
  color: rgb(248, 149, 149);
}

p {
  line-height: 1.5;
  font-size: 16px;
  margin: 0 auto;
  text-align: justify;
  text-align: center;
  padding: 10px;
  background-color: rgba(180, 179, 179, 0.1);
}

.fix {
  background-color: white;
}
